I am confused, is the URL intentionally does not specify the protocol that is used for connecting to the server?

Also, I am still not convinced that using query string is better than using the fragment.

> I am confused, is the URL intentionally does not specify the protocol that is used for connecting to the server?

Correct. The desire was for this to be at the determination of the client. Originally we had proposed a https://.. URL to indicate a Webtransport connection and moqt://... to indicate raw QUIC. However at IETF #123 there was [pushback ](https://github.com/moq-wg/warp-streaming-format/issues/60#issuecomment-3335631745)on this as the https:// URL could be assumed by many systems to have a HTTP GET response. See also [this ](https://github.com/moq-wg/warp-streaming-format/issues/60#issuecomment-3356019486)comment. 

> Also, I am still not convinced that using query string is better than using the fragment.

At the Toronto interim I did propose your fragment concept for the URL - see https://docs.google.com/presentation/d/1pFZ7kdp1s1CY2K6YgRQ1M_9tpwNIWK6j1gNuJj3UoJ0/edit?slide=id.g3630ee1ef9b_0_22#slide=id.g3630ee1ef9b_0_22. The [concern](https://github.com/moq-wg/warp-streaming-format/issues/60#issuecomment-3359672623) was that a fragment response has a Mime-type associated with it and that the fragment construct of pointing at a subset of a resource was being abused to code in additional information not related to the resource. For this, flexible query arguments were considered a cleaner and more extensible fit. It was that feedback in Toronto which drove the establishment of this PR.  

An additional issue with fragment is that there can be only one per URL. For MSF, we need to give the client both a namespace and a name (as they are applied separately in all MOQT messages). So we then need to create formatting rules for the fragment to separate namespace from name. At that point, you are inventing something that looks like KV pairs, so why not just use the well-understood scheme of query args?

> Correct. The desire was for this to be at the determination of the client.

I don't understand the circumstances under which this would be useful.  Usually I would expect a MOQT resource to be available either via WT or raw QUIC, but not both.  A URL "provide a means of locating the resource by describing its primary access mechanism" (RFC 3986), so not knowing the protocol sounds like a glaring omission.

> The https://github.com/moq-wg/warp-streaming-format/issues/60#issuecomment-3359672623 was that a fragment response has a Mime-type associated with it

We can register a media type for MOQT, if that is necessary.

> that the fragment construct of pointing at a subset of a resource was being abused to code in additional information not related to the resource

The information is obviously related to the resource.  I don't understand this objection.

> flexible query arguments were considered a cleaner and more extensible fit

What if the application already uses some of those query parameters?  RFC 8820, Section 2.4 discourages/proscribes this kind of approach for this reason in some scenarios.

> For MSF, we need to give the client both a namespace and a name (as they are applied separately in all MOQT messages). So we then need to create formatting rules for the fragment to separate namespace from name.

I think Cullen has already attempted to do that in moq-wg/moq-transport#1355.

----------------------

Actually, now that I think more about this, is there anything MSF-specific in this proposal?  As far as I can tell, this basically explains how to access a MOQT track, so I do wonder if MOQT would be a more appropriate place for this.

> I don't understand the circumstances under which this would be useful. Usually I would expect a MOQT resource to be available either via WT or raw QUIC, but not both.

I would expect that quite a lot of content may be available over both. Servers essentially have to support WebTransport for browsers. Supporting raw QUIC on the server is then straightforward, as one already has a QUIC stack anyway.
For clients, I would expect that non-browser clients could often implement QUIC only so as not to have an unnecessarily heavy HTTP stack. This is, of course, dependent on what we decide here.

> A URL "provide a means of locating the resource by describing its primary access mechanism" (RFC 3986), so not knowing the protocol sounds like a glaring omission.

`https://` currently means H1/H2/H3 with vastly different transports underlying it. I think it works fine in practice, and we do not have duplicate URLs representing the same resource. I do understand there is a fallback and discovery upgrade mechanism. 

That discovery works even better here. Both clients and servers can do ALPN, signaling their preferred and supported protocols. No race or additional RTTs required.

I do not like having two schemes, as that would create an ecosystem split. Which is, in my opinion, unfavorable, and in this case unnecessary given the high similarity of raw QUIC and WT. If the stated goal is to have compatibility with existing CMS systems, having a single URL representing a single piece of content is favorable. 

Also, what about WebTransport over H2? That one will have entirely different transport. Then having one scheme for raw QUIC and another for WT that would mean QUIC or TCP under the hood makes no sense to me. And having a different scheme from WT/H3 and WT/H2 would totally break a fallback use case. 

If we introduce more than one scheme/URL format, I would expect we'll have one transport (WT) in practice, and nobody will support the other ones. The proposed solution of a single URL allowing multiple transports seems not that different in that case. We could mandate relay/server support for WT in here. 

> I think Cullen has already attempted to do that in moq-wg/moq-transport#1355.

+1 from me on unifying format here with what comes out of 1355 (if it ends up URL compatible, which is one of the current goals there).

---- 

> Actually, now that I think more about this, is there anything MSF-specific in this proposal? As far as I can tell, this basically explains how to access a MOQT track, so I do wonder if MOQT would be a more appropriate place for this.

I think the problem is in the "content type". As we do not have, for now at least, a way to identify what kind of data are in the track, and for generic MOQT you cannot assume anything. This could be solved by multitude of ways, like having a content type extension/"header" in MOQT or having a custom scheme here that always represents a warp/msf catalog or track, but I do not think there is now a good way in MOQT itself. 

> https:// currently means H1/H2/H3 with vastly different transports underlying it. I think it works fine in practice, and we do not have duplicate URLs representing the same resource. I do understand there is a fallback and discovery upgrade mechanism.

There is an incredible amount of complexity involved in making a resource available over both H2 and H3.  Given that the advantage of making MOQ available over both raw QUIC and WebTransport is very limited, I cannot see it being justified here.

> That discovery works even better here. Both clients and servers can do ALPN, signaling their preferred and supported protocols. No race or additional RTTs required.

There is no guarantee that if a server offers both `moqt` and `h3` as ALPN, that the MOQT server in question would also be available over HTTP/3.  This also seems to ignore the TCP fallback for WebTransport.

> I do not like having two schemes, as that would create an ecosystem split.

The ecosystem split has already been created when we decided to support both raw QUIC and HTTP/3.

> If the stated goal is to have compatibility with existing CMS systems, having a single URL representing a single piece of content is favorable.

I agree.  In practice, I expect most deployments to pick one.

At the Boulder interim, the workgroup decided in favor of the fragment-based URl scheme, so closing this PR. 